.table-card-alt {
  width: 50%;
  border-collapse: separate !important;
  border-spacing: 5px 1rem;
}

.table-card-alt tbody > tr {
  border-radius: 0;
  outline: 1px solid rgba(0, 0, 0, 0.175);
  box-shadow: -4px 4px 0px 2px rgba(0,0,0,0.175);
  overflow: visible;
  margin-right: 0px;
  margin-left: 0;
  padding-left: 17px;
}

.table-card-alt tbody > tr > td {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

