dash_table==4.11.2
h5py==2.10.0
dash_core_components==1.15.0
ipywidgets==7.6.3
numpy==1.20.0
scipy==1.6.0
umap_learn==0.5.0
chart_studio==1.1.0
matplotlib==3.3.3
plotly==4.7.1
pyabf==2.2.8
jupyter_core==4.6.3
dash_html_components==1.1.2
voila==0.2.17
andas==1.0.3
dash==1.19.0
beautifulsoup4==4.9.3
jupyter==1.0.0
pandas==1.2.3
scikit_learn==0.24.1
scipy==1.6.2
umap==0.1.1
utils==1.0.1
