.table-card-like tbody tr {
    display: block;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.175) !important;
    border-radius: 0.375rem !important;
    width: auto;
}
.table-card-like tbody tr:hover{
	transform-style: preserve-3d;
	transform: scale(1.005);
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .table-card-like tbody tr{
        box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.00);
   }
}