.table-card-alt {
  width: 50%;
  border-collapse: separate !important;
  border-spacing: 5px 1rem;
}

.table-card-alt tbody > tr {
  border-radius: 0;
  outline: 2px solid rgb(176,176,176);
  box-shadow: -4px 4px 0px 1px rgba(0, 0, 0, 0.175);
  overflow: visible;
  margin-right: 0px;
  margin-left: 0;
  padding-left: 17px;
  transition: box-shadow .1s, transform .1s;
}

.table-card-alt tbody > tr > td {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.card-base {
  box-shadow: -6px 6px 0px 0px rgb(176,176,176);
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  outline: 2px solid rgb(176,176,176);
  transition: box-shadow .1s, transform .1s;
}

.col {
  padding: 12px;
  flex: 1 0 0%;
}

thead {
  font-size: 12px;
}

.feat-title {
  font-style: normal;
  font-size: 12px;
  color: var(--bs-primary-border-subtle);
}

.card-base:hover {
  outline: 2px solid rgba(0, 0, 0, 0.25);
  box-shadow: -7px 8px 0px 0px rgb(176,176,176);
}

.table-card-alt tbody tr:hover {
  transform: translateX(2px) translateY(-2px) translateZ(0px);
  outline: 2px solid rgba(0, 0, 0, 0.25);
  box-shadow: -6px 6px 0px 0px rgb(176,176,176);
}

